/* util css*/
.font-family {
  font-family: "open sans", sans-serif;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.font-size-1 {
  font-size: 1.1rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-4 {
  font-size: 4rem;
}

.font-weight-7 {
  font-weight: 700;
}
.font-weight-6 {
  font-weight: 600;
}
.img-w-100 {
  width: 100%;
}

.text-color-primary {
  color: #ce1212;
}
.text-color-default {
  color: #212529;
}
.text-color-secondary {
  color: #37373f;
}
.text-color-white {
  color: #ffffff;
}
.text-color {
  color: #7f7f90;
}
.bg-color-white {
  background-color: #ffffff !important;
}
.bg-color-primary {
  background-color: #eeeeee !important;
}
.position-rel {
  position: relative;
}
.text-dec {
  text-decoration: none;
}
.red:hover {
  color: #ce1212;
}

/*nav bar*/

.yummy-nav-btn {
  color: white;
  background-color: #ce1212;
  border-radius: 7rem;
  border: transparent;
}
.yummy-nav-btn:hover {
  background-color: #ce1212cc;
}
.yummy-nav-bar {
  padding: 1rem 6rem;
}
.yummy-nav-ul {
  padding-left: 4rem;
  gap: 1.5rem;
}
.yummy-nav .dropdown-item:hover {
  background-color: transparent;
  color: #ce1212;
}

.yummy-nav-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}
.yummy-line {
  position: relative;
}
.yummy-line::after {
  content: "";
  height: 2.5px;
  width: 0%;
  background: #ce1212;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: all 0.5s ease;
}
.yummy-line:hover::after {
  width: 100%;
}

/* hero section */

.yummy-hero > .card {
  position: absolute;
  top: 90px;
  border-radius: unset;
  border: none;
  padding-top: 4rem;
}
.yummy-hero .card-title {
  font-family: "Amatic SC", sans-serif;
}

.yummy-hero .col-md-8 {
  width: 38%;
}
.yummy-hero .btn {
  padding: 0.6rem 2.3rem;
  transition: 0.6s;
  box-shadow: 0 10px 30px #ce121233;
}
.hero-btn-video {
  display: flex;
  gap: 2rem;
  padding: 1.5rem 0;
}
.hero-video-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.yummy-hero .row {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  align-items: center;
}
.yummy-hero .col-md-4 {
  width: 38%;
}
